*{
  margin: 0;
  padding: 0;
}.main{



}
.userDetails{
  border: 2px solid blue;
  border-radius: 10px;

  width: 48%;
 text-align: left;
  transform: translate(650px,-4700px);

  padding-left: 20px;
 height: 25vh;
 background-color: pink;
}
.first{

  width: 45%;
  background-color: lightseagreen;

}
h2{
  text-align: center;
  color: #000;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
h3{
  text-align: center;
  color: blueviolet;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.buttun{

  width: 500px;
  margin: 5px;
  border-radius: 10px;
  height: 6vh;
  color: black;
  border: 2px solid blueviolet;
  background-color: blueviolet;
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;

}


.trr{
  border: 1px solid red;
  margin-left: 30px;
}